In [ ]:
import pandas as pd
import numpy as np

In [ ]:
dataset = pd.read_csv('melb_data.csv')

In [ ]:
dataset.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0

In [ ]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 21 columns):
Suburb           13580 non-null object
Address          13580 non-null object
Rooms            13580 non-null int64
Type             13580 non-null object
Price            13580 non-null float64
Method           13580 non-null object
SellerG          13580 non-null object
Date             13580 non-null object
Distance         13580 non-null float64
Postcode         13580 non-null float64
Bedroom2         13580 non-null float64
Bathroom         13580 non-null float64
Car              13518 non-null float64
Landsize         13580 non-null float64
BuildingArea     7130 non-null float64
YearBuilt        8205 non-null float64
CouncilArea      12211 non-null object
Lattitude        13580 non-null float64
Longtitude       13580 non-null float64
Regionname       13580 non-null object
Propertycount    13580 non-null float64
dtypes: float64(12), int64(1), object(8)
memory usage: 2.2+ MB

In [ ]:
dataset['Car'].fillna(1, inplace=True)
dataset['BuildingArea'].fillna(80, inplace=True)
dataset['YearBuilt'].fillna(2000, inplace=True)
dataset.drop_duplicates(inplace=True)

In [ ]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13580 entries, 0 to 13579
Data columns (total 21 columns):
Suburb           13580 non-null object
Address          13580 non-null object
Rooms            13580 non-null int64
Type             13580 non-null object
Price            13580 non-null float64
Method           13580 non-null object
SellerG          13580 non-null object
Date             13580 non-null object
Distance         13580 non-null float64
Postcode         13580 non-null float64
Bedroom2         13580 non-null float64
Bathroom         13580 non-null float64
Car              13580 non-null float64
Landsize         13580 non-null float64
BuildingArea     13580 non-null float64
YearBuilt        13580 non-null float64
CouncilArea      12211 non-null object
Lattitude        13580 non-null float64
Longtitude       13580 non-null float64
Regionname       13580 non-null object
Propertycount    13580 non-null float64
dtypes: float64(12), int64(1), object(8)
memory usage: 2.3+ MB

In [ ]:
d1 = pd.concat([ pd.get_dummies(dataset.Regionname),dataset.iloc[:,:]] , axis = 1)

In [ ]:
d1.CouncilArea.isna().sum()

1369

In [ ]:
d1.CouncilArea.replace(np.nan,d1.CouncilArea.mode()[0], inplace=True)
d1.drop(['Regionname'], axis=1,inplace = True)
d1.head()

,Eastern Metropolitan,Eastern Victoria,Northern Metropolitan,Northern Victoria,South-Eastern Metropolitan,Southern Metropolitan,Western Metropolitan,Western Victoria,Suburb,Address,...,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Propertycount
0,0,0,1,0,0,0,0,0,Abbotsford,85 Turner St,...,2.0,1.0,1.0,202.0,80.0,2000.0,Yarra,-37.7996,144.9984,4019.0
1,0,0,1,0,0,0,0,0,Abbotsford,25 Bloomburg St,...,2.0,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,4019.0
2,0,0,1,0,0,0,0,0,Abbotsford,5 Charles St,...,3.0,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,4019.0
3,0,0,1,0,0,0,0,0,Abbotsford,40 Federation La,...,3.0,2.0,1.0,94.0,80.0,2000.0,Yarra,-37.7969,144.9969,4019.0
4,0,0,1,0,0,0,0,0,Abbotsford,55a Park St,...,3.0,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,4019.0

In [ ]:
d1.CouncilArea.isna().sum()

0

In [ ]:
y = d1.loc[:,['Price']].values
X = d1.loc[:,['Car','BuildingArea','Landsize','YearBuilt']]
# X['YearBuilt'].value_counts().unique()

In [ ]:
X.head()

   Car  BuildingArea  Landsize  YearBuilt
0  1.0          80.0     202.0     2000.0
1  0.0          79.0     156.0     1900.0
2  0.0         150.0     134.0     1900.0
3  1.0          80.0      94.0     2000.0
4  2.0         142.0     120.0     2014.0

In [ ]:
y

array([[1480000.],
       [1035000.],
       [1465000.],
       ...,
       [1170000.],
       [2500000.],
       [1285000.]])

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)